.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.mountains {
  width: 1800px;
  height: 877px;
}

.trip-container { 
  margin: 0 auto;
}


.trip-form {
  display: flex;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
  background-color: #f2efc7;
  opacity: 0.8;
  border: 2px solid black;
  margin-top: -800px;
  border-radius: 8px;
  padding-top: 10px;
  text-align: center;
}

.f-name {
  display: flex;
  flex-direction: column;
  text-align: center;
}


/* login form */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.field {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  border: 1px solid #202020;
  width: 40%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}


.control {
  border: 2px solid #eeeeee;
  width: 300px;
  padding: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  /* test */
} 

@media (max-width: 900px){
  .field{
    width: 60%;
  }
  .control{
    width: 50%;
  }
}
@media (max-width: 580px){
  .field{
    width: 80%;
  }
  .control{
    width: 80%;
  }
}

.errors {
  color: red;
  margin-bottom: 7px;
  font-weight: bold;
}
.trip-name {
  display: flex;
  max-width: 300px;
  height: 30px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.desc {
  display: flex;
  max-width: 300px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.date-name {
  max-width: 160px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.tripbutton {
  width: 200px;
  height: 30px;
  border-radius: 8px;
  margin-left: 10px;
  background-color: #d2bba0;
  font-size: 20px;
  margin-bottom: 10px;

}


/* NavBar */
.NavBar{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: #ffeee2;
}

.guidr{
  font-size: 1.5rem;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: black;
  padding: .2rem;
  border-radius: 10%;
  background-color: #d2bba0;
  /* -webkit-box-shadow: 2.5px 1px 2.5px 1px #9f7e69; */
}


.tripbutton:hover {
  background-color: #a0a0a0;
}

.user-card {
  display: flex;
  justify-content: center;
  width: 20rem;
  float: left;
  background-color: #f2efc7;
  opacity: 0.8;
  border: 2px solid black;
  border-radius: 8px;
  padding-top: 10px;
  text-align: center;
  margin: 15px 10px;
  padding-bottom: 10px;
}

.basic h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}


.forest {
  width: 1800px;
  height: 877px;
}

.navbar {
  margin: 0;
  padding: 0;
  height: 64px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.basic p{
  margin-bottom: 5px;
}



.testingDiv{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} 




