.card-container {
    background-image: url("../src/Images/forest.jpg"); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}